main,
header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: space-between; */
  padding: 27px 5vw;
}

header {
  justify-content: left;
}

input {
  border: none;
  font-size: 24px;
  padding: 15px 30px;
  width: 500px;
  border-bottom: 3px solid rgb(44, 90, 44);
  color: rgb(44, 90, 44)
}

input::placeholder {
  color: rgb(44, 90, 44)
}

header {
  gap: 0;
}

.search-button {
  width: 27px;
  border: none;
  background: white;
  border-bottom: 3px solid rgb(44, 90, 44);
  fill: rgb(44, 90, 44);
}

/* header svg {
  width: 27px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  background: white;
  border-bottom: 3px solid rgb(44, 90, 44);
  fill: rgb(44, 90, 44)
} */
.loading {
  font-size: 100px;
  font-weight: 700;
}

.none {
  display: none;
}